name: Deploy NestJS
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            mkdir -p /var/www/brgybagongbarrio.site/backend
            cd /var/www/my-project/backend
            # If repo doesn't exist, clone it; otherwise pull latest
            if [ ! -d ".git" ]; then
              git clone https://github.com/rezorio/BRGYWEB-BE.git .
            else
              git pull origin main
            fi
            npm install
            npm run build
            pm2 restart nest-api || pm2 start dist/main.js --name nest-api